body {
  background-image: url("https://w0.peakpx.com/wallpaper/628/51/HD-wallpaper-laptop-book-aesthetics.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
